.all
{
  font:inherit;
  font-style: inherit;
  font-weight: inherit;  
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto; padding: 0; border: 0; outline: 0;
  width: 80%;
  background-repeat:no-repeat;
  background-size: cover;

  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  vertical-align: baseline;
  display: block;
  text-shadow: none;
}

#header
{
  color: white;
  margin:0 auto;
  height: 100px;
  font-family: '微軟正黑體','新細明體','Arial Unicode MS';
  font-size: 18px;
  margin-bottom: 5px;
  background-color:#000;
}

}
.menubox
{
  margin-right: 60px;
}
.menupic
{
  margin-right: 60px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}
.logopic
{
  height: 80px;
}
.menutxt
{
  margin-top: 35px;
  float: left;
  margin-right: 40px;
  margin-left: 10px;
}
.signtxt
{
   
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 35px;
  font-size: 16px;
}
.menustyle
{
  font-weight:bold;
  display:block;
  padding:2px;
  border-bottom:2px solid white;
  color:white;

}
.menustyle:hover 
{
  border-bottom:2px solid #04e;
  text-decoration:none;
  color::#04e;

}

.space-2
{
    width: 5%;
    height: 20em;
    padding: 1em;
    float: left;
    margin-bottom: 1%;
}

.photo
{
    width: 50%;
    height: 20em;
    padding: 1em;
    float: left;
    margin-bottom: 1%;
}

.name
{
	margin-top: 5%;
    width: 30%;
    height: 20em;
    float: left;
    margin-bottom: 1%;
}

.namefont-1
{
  font:inherit;
  font-weight: 400;
  font-style: normal; 
  font-family: "Open Sans","segoe ui","microsoft jhenghei","microsoft mhei",stheititc,sans-serif;
  font-size: 20px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  vertical-align: baseline;
  display: block;
  text-shadow: none;
  color: #828282;
}
.namefont-2
{
  font:inherit;
  font-weight: 400;
  font-style: normal;  
  font-family: "Open Sans","segoe ui","microsoft jhenghei","microsoft mhei",stheititc,sans-serif;
  font-size: 16px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  vertical-align: baseline;
  display: block;
  text-shadow: none;
  color: #828282;
}

.photo-image
{
  width: 65%;
  height: 65%;
  padding: 3em 3em 3em 3em;
}
.photo-image:hover
{
  width: 75%;
  height: 75%;
  padding: 3em 3em 3em 3em;
  transition: all 0.8s;
}

.copyright
{
	height: auto;
    padding: 1cm;
	background-color:black;
	line-height: 2;
	color: white;
    margin-bottom: 2%;
    text-align: center;
    margin-top: 3%;
    margin-left: -12.5%;
    width: 125%;
}

.cut
{
  clear: both;
}