
body
{

	background-color: #fff;
	position: absolute;
	font-family: "微軟正黑體";
	overflow: scroll;
	width: 100%;
}

#header
{
  color: white;
  margin:0 auto;
  height: 100px;
  font-family: '微軟正黑體','新細明體','Arial Unicode MS';
  font-size: 18px;
  margin-bottom: 5px;
  background-color:#000;
}

}
.menubox
{
  margin-right: 60px;
}
.menupic
{
  margin-right: 60px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}
.logopic
{
  height: 80px;
}
.menutxt
{
  margin-top: 35px;
  float: left;
  margin-right: 40px;
  margin-left: 10px;
}
.signtxt
{
   
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 35px;
  font-size: 16px;
}
.menustyle
{
  font-weight:bold;
  display:block;
  padding:2px;
  border-bottom:2px solid white;
  color:white;
  text-decoration:none;

}
.menustyle:hover 
{
  border-bottom:2px solid #04e;
  text-decoration:none;
  color::#04e;

}

.leftside
{
	width: 30%;
	float: left;
	margin-left: 25%;
	text-align: center;

}
.rightside
{
	width: 30%;
	float: left;
	
	text-align: center;
}
.space-2
{
    width: 5%;
    height: 30em;
    padding: 1em;
    float: left;
    margin-bottom: 1%;
}

.contact
{
    width: 50%;
    height: 30em;
    padding: 1em;
    float: left;
    margin-bottom: 1%;
}

.formblock
{
    width: 100%;
    height: 30em;
    float: left;

}

#asid1
{
  color: white;
  background: black;
  height: 50px;
  clear: both;
}

.formfont
{
  width: 300px;
  height: 50px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid black;
  border-radius: 1em;
  display: block;
  font-weight: 300;
}

.namebt
{
  color: white;
  background-color: #0069d9;
  text-decoration: none;

  vertical-align: middle;
  text-align: center;
  font-family: "Open Sans","segoe ui","microsoft jhenghei","microsoft mhei",stheititc,sans-serif;
  border-radius: 1em;
  width: 200px;
}
body{
  margin:0 auto;
}
#head-block
{

    height: auto;
    padding: 1em;
	background-color:#ABABAB;
	line-height: 2;
	color: white;
    margin-bottom: 2%;
    text-align: center;
    margin-top: 3%;
	background-color:#ABABAB;
	margin-left: -12.5%;
	width: 125%;
	min-width: 100%;
}
article
{
	height: auto;
	background-color: lightgreen;
	

	min-width: 600px;

}
.create_word
{
	width: 100%;
	background-color: white;
	float: left;
	text-align: center;
}
.small_logo
{
	width: 10%;
	height: 10%;
	margin-right: 0px;
	float: right;
}


.aside_login
{
	display: inline-block;
	margin-top: 5%;
	width: auto;
}
#asid1
{
  color: white;
  background: black;
  clear: both;
  height: 50px;
}