.font
{
  	font:inherit;
	font-style: inherit;
	font-weight: inherit;  
	font-family: sans-serif;
	font-size: 16px;

	overflow-wrap: break-word;
	word-wrap: break-word;
	box-sizing: border-box;
	vertical-align: baseline;
	display: block;
	text-shadow: none;
}

.right-mall
{
  position: fixed;
  padding: 1em 1em 1em 1em;
  right: 0px; bottom: 15%;
  width:5%; height:auto;
  border-radius:1em 1em 1em 1em; 
  border-top-left-radius:1em; - 設定左上角
  border-top-right-radius:1em; - 設定右上角
  border-bottom-right-radius:1em; - 設定右下角
  border-bottom-left-radius:1em; - 設定左下角
}

.all
{
	font:inherit;
	font-style: inherit;
	font-weight: inherit;  
	font-family: sans-serif;
	font-size: 16px;
	
	margin: 0 auto; padding: 0; border: 0; outline: 0;
	background-color: #fff;
	line-height: 2;
	color: #929292;
	width: 80%;
	background-image:url();
    background-repeat:no-repeat;
    background-size: cover;

	overflow-wrap: break-word;
	word-wrap: break-word;
	box-sizing: border-box;
	vertical-align: baseline;
	display: block;
	text-shadow: none;
}

#header
{
  color: white;
  margin:0 auto;
  height: 100px;
  font-family: '微軟正黑體','新細明體','Arial Unicode MS';
  font-size: 18px;
  margin-bottom: 5px;
  background-color:#000;
}

}
.menubox
{
  margin-right: 60px;
}
.menupic
{
  margin-right: 60px;
  margin-top: 15px;
  margin-left: 20px;
  float: left;
}
.logopic
{
  height: 80px;
}
.menutxt
{
  margin-top: 35px;
  float: left;
  margin-right: 40px;
  margin-left: 10px;
}
.signtxt
{
   
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 35px;
  font-size: 16px;
}
.menustyle
{
  font-weight:bold;
  display:block;
  padding:2px;
  border-bottom:2px solid white;
  color:white;

}
.menustyle:hover 
{
  border-bottom:2px solid #04e;
  text-decoration:none;
  color::#04e;

}

.sec-block
{
	width: 100%;
	color: white;
	height: auto;
	padding: 1em;
	margin-bottom: 2%;
	background-image: url(../image/sec-bg.jpg);
}

.nav-block
{
    width: 10%;
    height: auto;
    float:left;
    margin-bottom: 2%;
    padding: 1em 1em 1em 1em;
    background-color:#000;
}

.space-1
{
    width: 10%;
    height: 800px;
    background-color:white;
    float:left;
    margin-bottom: 2%;
}
.space-2
{
    width: 5%;
    height: 800px;
    background-color:white;
    float:left;
    margin-bottom: 2%;
    column-count: 2;
    column-rule-width: 3px;
    column-rule-color: black;
    column-rule-style: solid;
}

.photo
{
    width: 42%;
    height: 800px;
    padding: 1em;
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    background-color:black; 
}

.name
{
    width: 20%;
    height: 800px;
    float: left;
    margin-bottom: 2%;
}

.content
{
    width: 100%;
    height: auto;
    padding: 1em;
    clear: both;
	background-color:#ABABAB;
	color: white;
    margin-bottom: 2%;
}

.content-tb
{
	box-shadow:inset 0px 40px 0px -24px #59FFFF;
	background-color:#00FFFF;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 8px 8px 8px; 
	text-decoration:none;
	text-shadow:0px 0px 0px #b23e35;
}

.comment
{
    width: 100%;
    height: auto;
    padding: 1em;
    clear: both;
	background-color:#ABABAB;
	color: white;
    margin-bottom: 2%;
}

.foot
{
    width: 100%;
    height: auto;
    padding: 1em 1em 1em 1em;
	background-color:#ABABAB;
	color: white;
    margin-top: 2%;
    text-align: center;
}

.photo-image
{
	width: 50%;
	height: 50%;
	padding: 3em 3em 3em 3em;
}
.photo-image:hover
{
    width: 85%;
	height: 85%;
	padding: 3em 3em 3em 3em;
}

.content-image
{
	width: 80%;
	height: 80%;
}

.sec-image
{
	width: 80%;
	height: 30%;
}

.form1
{
	width: 60%;
    height: 80%;
    padding: 1em 1em 1em 1em;
    text-align: center;
    border-radius:5px;
	border:1px solid #ffffff;
	margin: 0 auto;
}

.comment-tb
{
    width: 20%;
    height: 5%;
	box-shadow:inset 0px 40px 0px -24px #59FFFF;
	background-color:#00FFFF;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:8px 8px 8px 8px; 
	text-decoration:none;
	text-shadow:0px 0px 0px 0px;
}